<!DOCTYPE html>
<html>
  <head>
    <title>TBay</title>
    <script type="text/javascript"> 
      window.gitHubURL = "<%= image_url('github-logo.svg') %>";
      window.gitHubURL2 = "<%= image_url('github-mark.png') %>";
      window.logoURL = "<%= image_url('logo.jpg') %>";
      window.logoPNGURL = "<%= image_url('logo.png') %>";
      window.logoPNGURL2 = "<%= image_url('logo2.png') %>";
      window.logoPNGURL3 = "<%= image_url('logo3.png') %>";
      window.linkedInURL = "<%= image_url('social-linkedin-circle-512.webp') %>";
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
