<!DOCTYPE html>
<html>
  <head>
    <title>TBay</title>
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 
    <meta name="title" content="TBay"/>
    <meta name="description" property="og:description" content="tBay is an online marketplace for users to buy and list items for sale. The design is a clone of Ebay."/> 

    <meta name="image" property="og:image" content="<%= image_url('logo3.png') %>"/>
    <meta name="url" property="og:url" content="http://tbay.herokuapp.com/"/>
    <meta name="author" content="Rahul Jain"/>

        <%= favicon_link_tag asset_path('logo3.png') %>
        <%= favicon_link_tag asset_path('favicon-32x32.png') %>



    <script type="text/javascript"> 
      window.gitHubURL = "<%= image_url('github-logo.svg') %>";
      window.gitHubURL2 = "<%= image_url('github-mark.png') %>";
      window.logoURL = "<%= image_url('logo.jpg') %>";
      window.logoPNGURL = "<%= image_url('logo.png') %>";
      window.logoPNGURL2 = "<%= image_url('logo2.png') %>";
      window.logoPNGURL3 = "<%= image_url('logo3.png') %>";
      window.linkedInURL = "<%= image_url('social-linkedin-circle-512.webp') %>";

      window.shoes = "<%= image_url('graphic_intro_shoes_1x.png') %>";
      window.handbag = "<%= image_url('graphic_intro_handbags_1x.png') %>";
      window.phone = "<%= image_url('graphic_intro_phones_1x.png') %>"; 

      window.cameraIcon = "<%= image_url('how_to_camera_icon.png') %>"; 
      window.tagIcon = "<%= image_url('how_to_tag_icon.png')%>"; 
      window.shipIcon = "<%= image_url('how_to_ship_icon.png') %>"; 
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" 
          href= 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

<%# <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> %>
<%# <link href="https://v4-alpha.getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet"> %>

<%# <link href="http://ir.ebaystatic.com/rs/v/jrcej4lbj2ylzkykbairgdsvzqz.css" type="text/css" rel="stylesheet">
<link href="http://ir.ebaystatic.com/rs/v/ujm3hjj5i23ipnmrutfhgrft4iz.css" type="text/css" rel="stylesheet"> %>
<%# <link href="http://ir.ebaystatic.com/rs/v/5v51jvziue42lduchbjns2d02ae.css" type="text/css" rel="stylesheet"> %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
